
@{
    ViewBag.Title = "List";
    Layout = null;
}
    <div ng-app="myapp">
        <div ng-controller="list as vm">
            <kendo-grid options="mainGridOptions">

            </kendo-grid>
        </div>
    </div>
